# Import/ Loading the Data

In [1]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\cathe\anacoda3\envs\dojo-env\lib\site-packages (5.14.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\cathe\anacoda3\envs\dojo-env\lib\site-packages (from plotly) (8.2.2)
Requirement already satisfied: packaging in c:\users\cathe\anacoda3\envs\dojo-env\lib\site-packages (from plotly) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\cathe\anacoda3\envs\dojo-env\lib\site-packages (from packaging->plotly) (3.0.9)

In [2]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os,json

## importing plotly 
import plotly.express as px

In [3]:
powers_df = pd.read_csv("..\Data\superhero_powers - superhero_powers (1).csv")
powers_df.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [4]:
info_df = pd.read_csv("..\Data\superhero_info - superhero_info (1).csv")
info_df.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

# Minor Cleaning the Data

In [5]:
powers_df.shape
print(f'There are {powers_df.shape[0]} rows, and {powers_df.shape[1]} columns.')
print(f'The rows represent {powers_df.shape[0]} observations, and the columns represent {powers_df.shape[1]-1} features and 1 target variable.')

There are 667 rows, and 2 columns.
The rows represent 667 observations, and the columns represent 1 features and 1 target variable.

In [6]:
info_df.shape
print(f'There are {info_df.shape[0]} rows, and {info_df.shape[1]} columns.')
print(f'The rows represent {info_df.shape[0]} observations, and the columns represent {info_df.shape[1]-1} features and 1 target variable.')

There are 463 rows, and 8 columns.
The rows represent 463 observations, and the columns represent 7 features and 1 target variable.

In [7]:
powers_df.duplicated().sum()

0

In [8]:
info_df.duplicated().sum()

0

In [9]:
powers_df.dtypes

hero_names    object
Powers        object
dtype: object

In [10]:
info_df.dtypes

Hero|Publisher    object
Gender            object
Race              object
Alignment         object
Hair color        object
Eye color         object
Skin color        object
Measurements      object
dtype: object

# Advance Transformation 
Cleaning more of the data

In [11]:
info_df['Hero|Publisher'].head(2)

0            A-Bomb|Marvel Comics
1    Abe Sapien|Dark Horse Comics
Name: Hero|Publisher, dtype: object

In [12]:
info_df['Hero|Publisher'].str.split(' ',expand=True)

                       0            1       2       3
0          A-Bomb|Marvel       Comics    None    None
1                    Abe  Sapien|Dark   Horse  Comics
2                   Abin       Sur|DC  Comics    None
3     Abomination|Marvel       Comics    None    None
4              Absorbing   Man|Marvel  Comics    None
..                   ...          ...     ...     ...
458  Yellowjacket|Marvel       Comics    None    None
459         Yellowjacket    II|Marvel  Comics    None
460          Yoda|George        Lucas    None    None
461           Zatanna|DC       Comics    None    None
462              Zoom|DC       Comics    None    None

[463 rows x 4 columns]

In [13]:
## save the 2 new columns into the dataframe
info_df[['hero','publisher']] = info_df['Hero|Publisher'].str.split('|',expand=True)
info_df.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,hero,publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [14]:
info_df = info_df.drop(columns=['Hero|Publisher'])
info_df.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,hero,publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [15]:
info_df['Measurements'].str.split(' ',expand=True)

              0       1     2          3       4     5
0    {'Height':  '203.0  cm',  'Weight':  '441.0  kg'}
1    {'Height':  '191.0  cm',  'Weight':   '65.0  kg'}
2    {'Height':  '185.0  cm',  'Weight':   '90.0  kg'}
3    {'Height':  '203.0  cm',  'Weight':  '441.0  kg'}
4    {'Height':  '193.0  cm',  'Weight':  '122.0  kg'}
..          ...     ...   ...        ...     ...   ...
458  {'Height':  '183.0  cm',  'Weight':   '83.0  kg'}
459  {'Height':  '165.0  cm',  'Weight':   '52.0  kg'}
460  {'Height':   '66.0  cm',  'Weight':   '17.0  kg'}
461  {'Height':  '170.0  cm',  'Weight':   '57.0  kg'}
462  {'Height':  '185.0  cm',  'Weight':   '81.0  kg'}

[463 rows x 6 columns]

In [16]:
info_df['Measurements'].head()

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
2     {'Height': '185.0 cm', 'Weight': '90.0 kg'}
3    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
4    {'Height': '193.0 cm', 'Weight': '122.0 kg'}
Name: Measurements, dtype: object

In [17]:
## examining a single value from the coordinates col
Measure = info_df.loc[0,"Measurements"]
print(type(Measure))
Measure

<class 'str'>

"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"

In [18]:
Measure = Measure.replace("'", '"')
Measure

'{"Height": "203.0 cm", "Weight": "441.0 kg"}'

In [19]:
json.loads(Measure)

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

In [20]:
type(json.loads(Measure))

dict

In [21]:
info_df["Measurements"] = info_df["Measurements"].str.replace("'", '"')

In [22]:
info_df["Measurements"] = info_df["Measurements"].apply(json.loads)

In [23]:
Measure = info_df.loc[5, "Measurements" ]
Measure

{'Height': '185.0 cm', 'Weight': '88.0 kg'}

In [24]:
type(Measure)

dict

In [25]:
info_df["Measurements"].apply(pd.Series)

       Height    Weight
0    203.0 cm  441.0 kg
1    191.0 cm   65.0 kg
2    185.0 cm   90.0 kg
3    203.0 cm  441.0 kg
4    193.0 cm  122.0 kg
..        ...       ...
458  183.0 cm   83.0 kg
459  165.0 cm   52.0 kg
460   66.0 cm   17.0 kg
461  170.0 cm   57.0 kg
462  185.0 cm   81.0 kg

[463 rows x 2 columns]

In [26]:
df = pd.concat([info_df, info_df["Measurements"].apply(pd.Series)], axis = 1)
df.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,hero,publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg
2,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",Abin Sur,DC Comics,185.0 cm,90.0 kg
3,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Abomination,Marvel Comics,203.0 cm,441.0 kg
4,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}",Absorbing Man,Marvel Comics,193.0 cm,122.0 kg

In [27]:
df = df.drop(columns = 'Measurements')
df.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,hero,publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg
2,Male,Ungaran,good,No Hair,blue,red,Abin Sur,DC Comics,185.0 cm,90.0 kg
3,Male,Human / Radiation,bad,No Hair,green,Unknown,Abomination,Marvel Comics,203.0 cm,441.0 kg
4,Male,Human,bad,No Hair,blue,Unknown,Absorbing Man,Marvel Comics,193.0 cm,122.0 kg

In [28]:
df["Height"] = df["Height"].str.replace("cm"," ")

In [29]:
df["Weight"] = df["Weight"].str.replace("kg"," ")

In [30]:
df.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,hero,publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0,65.0
2,Male,Ungaran,good,No Hair,blue,red,Abin Sur,DC Comics,185.0,90.0
3,Male,Human / Radiation,bad,No Hair,green,Unknown,Abomination,Marvel Comics,203.0,441.0
4,Male,Human,bad,No Hair,blue,Unknown,Absorbing Man,Marvel Comics,193.0,122.0

In [31]:
df = pd.to_numeric

# Powers

In [32]:
powers_df.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [33]:
pow = powers_df.loc[0,"Powers"]
print(type("pow"))
pow

<class 'str'>

'Agility,Super Strength,Stamina,Super Speed'

In [34]:
powers_df["Powers"] = powers_df["Powers"].str.replace(",", " ")

In [35]:
df['Powers'] = powers_df['Powers'].apply(json.loads)
# check results
df['Powers'].head()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
powers_df.head()

In [ ]:
powers_df.value_counts()

In [ ]:
## exploding the column of lists
exploded = powers_df.explode('Powers')
exploded[['Powers']].head(5)

In [ ]:
exploded.dropna('unique')

In [ ]:
cols_to_make = exploded['Powers'].dropna().unique()
cols_to_make

In [ ]:
for col in cols_to_make:
    df[col] = df['transactions'].str.contains(col)
df.head()

In [ ]:
pd.merge(left_powers_df,right_info_df, on='id')

In [ ]:
df['coordinates'] = df['coordinates'].str.replace("'",'"')
## Apply the json.loads to the full column
df['coordinates'] = df['coordinates'].apply(json.loads)
df['coordinates'].head()